<h1>Click a Topic to View Content</h1>
<hr />
<%= link_to "Create a New Topic", new_sub_topic_path(@sub) %>
<ul>
  <% @topics.each do |t| %>
  <li><%= link_to t.name, sub_topic_path(@sub, t) %><li>
  <% end %>
</ul>